@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Poppins:wght@200;300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Poppins", ui-sans-serif, system-ui, sans-serif;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

* {
    scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #2C3E50;
}

::-webkit-scrollbar-thumb {
    background: #476A7C;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8BA8BC;
}

